/* * {
box-sizing: border-box;
} */


body {
margin: 0px;
padding: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
padding: 16px;
}


.grid-container {
display: grid;
grid-template-columns: 200px 200px 200px auto;
align-self: center;
gap: 85px;
}


/* .grid-item {
display: flex;
align-items: center;
justify-content: center;
} */

footer {
padding-top: 25px;
padding-bottom: 25px;
padding-left: 25px;
margin-top: 30px;
background-color: rgb(114, 94, 202);
}


img {
height: 200px;
}


nav {
border-color: black;
border-bottom: 1px;
border-bottom-color: black;
padding: 16px;
}


nav a {
color: white;
text-decoration: none;
}


div a {
color:#002dc2f8;
text-decoration: none;
background-color: #002dc23d;
}


header {
background-color: rgba(1, 1, 2, 0.342);
box-shadow: 20px 20px rgba(0, 0, 0, 0.603);
}


a:hover {
color: rgb(0, 0, 0);
}


h1 {
color: #002dc2f8;
}


tr:nth-child(even) {
background-color: rgba(5, 4, 4, 0.24);
}


html {
background-color: rgba(0, 34, 187, 0.425);
}
